@import "../../../node_modules/@radix-ui/themes/styles.css";

.ToastViewport {
  position: fixed;
  padding: 0;
  top: 20px;
  left: 50%;
  list-style: none;
  transform: translateX(
    -50%
  ); /* Offset by half the width to ensure centering */
}

.ToastRoot {
  background-color: var(--gray-7);
  width: 300px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: var(--shadow-6);
}

.ToastRoot[data-state="open"] {
  animation: slideDown 200ms ease-out;
}

.ToastRoot[data-state="closed"] {
  animation: hide 200ms ease-in-out;
}

.ToastRoot[data-swipe="move"] {
  transform: translateY(var(--radix-toast-swipe-move-y));
}

.ToastRoot[data-swipe="cancel"] {
  transform: translateY(0);
  transition: transform 250ms ease-out;
}

.ToastRoot[data-swipe="end"] {
  animation: slideUp 200ms ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-200%);
  }
  to {
    tranform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(var(--radix-toast-swipe-end-y));
  }

  to {
    transform: translateY(-200%);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ToastIcon {
  bottom: 50%;
  transform: translateY(50%); /* Offset by half the width to ensure centering */
  padding-left: 1%;
}

.ToastText {
  padding-left: 1%;
}

.card-up {
  transform: translateY(-100vh);
}

.card-down {
  transform: translateY(1vh);
}

.schedule-grid {
  border: 1px solid #f4f4f309;
  width: 800px;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  border: 1px solid #b0b4ba;
  color: black;
  background-color: white;
}

td {
  border: 1px solid #b0b4ba;
  text-align: center;
}

.time-cell {
  font-size: 75%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

.course-cell {
  color: black;
  background-color: white;
}

.empty-cell {
  background-color: #dddddd;
}

.schedule-grid th:first-child,
.schedule-grid td:first-child {
  width: 7%; /* Fixed width for the first column */
}

.schedule-grid th:not(:first-child),
.schedule-grid td:not(:first-child) {
  width: calc(
    (100% - 7%) / 7
  ); /* Remaining columns will equally divide the rest of the space */
}

.schedule-grid-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10%;
  margin-bottom: 10%;
}

.schedule-grid-landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 1%;
  right: 7%;
  bottom: 2%;
}
